
@media (max-width: 575px) {
  #logo {
    width: 150px;
    height: 110px;
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  #logo {
  width: 100px;
  height: 73px;
  margin: 0;
  }
}

@media (max-width:991px) {

}

@media (min-width:992px) {

}

@media (min-width: 1200px) {

}
