{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>About Norwegian Rails</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>
        We are a real fictional railway company based in Norway founded in 2020.<br>
        Just to clarify, we are not a real company, but that does not put a stop to our ambitions!
      </p>
    </div>
    <div class="col-6">
      <p>
        Our core values:
      </p>
      <ul>
        <li>Not existing</li>
        <li>Work hard to deliver no service</li>
        <li>Seem prestigious</li>
        <li>Offer a great web application for a non-existing service</li>
        <li>Equality in the workplace</li>
        <li>Environmental friendly</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr style="border: 1px solid rgb(179,142,71);">
    </div>
  </div>
</div>
{% endblock %}
