{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-5">Purchase a ticket</h2>
    </div>
  </div>
  <form class="" method="POST">
    <div class="row mb-3">
      <div class="col-6">
        <div class="form-group">
          {{form.hidden_tag()}}
          {{form.start_station.label()}}
          {{form.start_station(class="form-control custom-form")}}
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          {{form.end_station.label()}}
          {{form.end_station(class="form-control custom-form")}}
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-6">
        <div class="form-group">
          {{form.travel_date.label()}}
          {{form.travel_date(class="form-control custom-form")}}
        </div>
      </div>
      <div class="col-6" style="width:100%;">
        <div class="form-group">
          {{form.number_of_passengers.label()}}
          <br>
          {{form.number_of_passengers(class="form-control custom-form", value="1")}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="mb-5">Seat reservations</h2>
      </div>
    </div>
    <div class="row mb-5">
      {% for option in form.seat_reservation %}
      <div class="col-3" align="center">
        {% if option.id == "seat_reservation-0" %}
        <img src="{{url_for('static',filename='img/icons/none.png')}}" alt="" style="width:75px;"><br>
        {% elif option.id == "seat_reservation-1" %}
        <img src="{{url_for('static',filename='img/icons/hc.png')}}" alt="" style="width:75px;"><br>
        {% elif option.id == "seat_reservation-2" %}
        <img src="{{url_for('static',filename='img/icons/comfort.png')}}" alt="" style="width:75px;"><br>
        {% elif option.id == "seat_reservation-3" %}
        <img src="{{url_for('static',filename='img/icons/sleep.png')}}" alt="" style="width:75px;"><br>
        {% endif %}
        {{option.label(class="mt-3")}}
        <br>
        {{option}}
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="mb-5">Additional services</h2>
      </div>
    </div>
    <div class="row mb-5">
      {% for option in form.add_ons %}
      <div class="col-3" align="center">
        {% if option.id == "add_ons-0" %}
        <img src="{{url_for('static',filename='img/icons/chicken.png')}}" alt="" style="width:75px;"><br>
        {% elif option.id == "add_ons-1" %}
        <img src="{{url_for('static',filename='img/icons/fish.png')}}" alt="" style="width:75px;"><br>
        {% elif option.id == "add_ons-2" %}
        <img src="{{url_for('static',filename='img/icons/dog.png')}}" alt="" style="width:75px;"><br>
        {% elif option.id == "add_ons-3" %}
        <img src="{{url_for('static',filename='img/icons/skis.png')}}" alt="" style="width:75px;"><br>
        {% endif %}
        {{option.label(class="mt-3")}}
        <br>
        {{option}}
      </div>
      {% endfor %}
    </div>
    <div class="row pb-5">
      <div class="col-12">
        {{form.submit(class="btn btn-secondary btn-block")}}
      </div>
    </div>
  </form>
</div>
{% endblock %}
