{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <h2 class="mb-5">Register</h2>
    <form class="" method="post">
      <div class="row mb-3">
        <div class="col-6">
          {{form.hidden_tag()}}
          {{form.username.label()}}
          {{form.username(class="form-control custom-form")}}
        </div>
        <div class="col-6">
          {{form.fullname.label()}}
          {{form.fullname(class="form-control custom-form")}}
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-6">
          {{form.hidden_tag()}}
          {{form.password.label()}}
          {{form.password(class="form-control custom-form")}}
        </div>
        <div class="col-6">
          {{form.repeat_password.label()}}
          {{form.repeat_password(class="form-control custom-form")}}
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-12">
          {{form.submit(class="btn form-control")}}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
